<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->
<div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">KDD BigMine 17
</h1>
      </header>
	  <!--
<div class="entry-content">
<p>5th International <strong>Workshop on Big Data</strong>, Streams and Heterogeneous Source Mining,
a premier interdisciplinary workshop, brings together researchers and practitioners from <b>data science</b>, data mining, knowledge discovery, <b>large-scale data analytics</b>, and <b>big data</b>.
	  -->
</p></div></div>
{% include browser-upgrade.html %}

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
